/* Asegurar que el contenido del body se expanda adecuadamente */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evitar scroll lateral */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F5F5F5; /* Fondo claro */
}

/* Asegurar que el main ocupe el espacio necesario */
main {
    flex: 1 0 auto;
    padding: 20px;
    overflow-y: auto; /* Habilitar scroll vertical si es necesario */
    width: 100%;
    box-sizing: border-box; /* Asegurar que el padding se incluya dentro del tamaño del contenedor */
}

/* Ajustar el footer para que no interfiera con el contenido */
#footer {
    position: relative;
    width: 100%;
    background-color: #37424A;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#section-info {
    margin-bottom: 30px;
}

/* Evitar que el footer se superponga con el contenido en pantallas pequeñas */
@media only screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }

    main {
        flex-grow: 1; /* Asegurar que main crezca adecuadamente */
        padding: 0;
    }

    body .container {
        padding-top: 10px;
    }

    #footer {
        position: relative; /* El footer no será fijo en móviles */
        bottom: 0;
        width: 100%;
    }

    .collapsible i {
        margin-right: 0.1rem !important;
    }

    .collapsible-body i {
        margin-right: 0.1rem !important;
    }

    .collapsible-body {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .subsection-article {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

.collapsible i {
    margin-right: 0.1rem !important;
}

.navbar {
    background-color: #37424A;
}
.navbar .brand-logo img {
    height: 50px;
    margin-left: 20px;
    vertical-align: middle;
}
.dashboard-card {
    margin-top: 20px;
}
.card-content i {
    font-size: 4rem;
    margin-bottom: 15px;
    color: #E37222; /* Color corporativo */
}
.card-action .btn {
    background-color: #E37222; /* Botones con color corporativo */
}

.input-field {
    margin-bottom: 20px; /* Añade espacio entre los campos de entrada */
}

.label-container {
    margin-bottom: 20px; /* Añade espacio específicamente para el label */
}

.input-field label {
    font-size: 1rem; /* Ajustar el tamaño de la fuente */
    color: #37424A; /* Color del texto del label */
    display: inline-block; /* Asegura que el label ocupe su propio espacio */
    margin: 0; /* Remover cualquier margen predeterminado */
    padding: 0; /* Remover cualquier padding predeterminado */
}

.color-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Crear una cuadrícula de 4 columnas */
    gap: 10px; /* Espacio entre los círculos */
    margin-top: 0; /* Asegura que no haya margen superior */
}

.color-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

.color-circle:hover,
.color-circle.selected {
    border: 2px solid #000; /* Resaltar el círculo seleccionado */
}

.modal-footer {
    height: auto !important;
}

/* Estilos personalizados para la página de creación de artículos */
#content-blocks {
    margin-bottom: 20px;
}

#content-blocks .content-block {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#content-blocks .content-block .remove-block {
    float: none;
    cursor: pointer;
}

#content-blocks .content-block .remove-block i {
    vertical-align: middle;
}

.btn-floating {
    margin-right: 10px;
}

#section-info {
    display: grid;
}

#image-input {
    margin-bottom: 0;
}

.image-preview {
    display: flex;
    justify-content: space-around;
}

/* Estilos para la vista previa de la imagen */
.image-preview img {
    max-width: 100%; /* La imagen ocupa el 100% del ancho disponible */
    max-height: 300px; /* Alto máximo de la imagen */
    object-fit: contain; /* Mantener la proporción de la imagen */
    display: block;
    margin: 10px 0; /* Espacio alrededor de la imagen */
}

strong {
    font-weight: bold;
}

.subsection:hover {
    background-color: #d5d7da;
}

.subsection-article:hover {
    background-color: #d5d7da;
}

.section-article:hover {
    background-color: #d5d7da;
}

.collapsible-header:hover {
    background-color: #d5d7da;
}

/* Estilos personalizados para las tarjetas */
.card {
    margin-bottom: 20px;
}

.card-image {
    height: 200px;
    object-fit: cover;
}

.subsection h6 {
    font-weight: bold;
    margin-top: 20px;
}

/* Adaptaciones generales */
.nav-wrapper {
    margin-bottom: 30px;
}