<header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/secciones">Secciones</a></li>
            <li><a href="/admin">Administración</a></li>
        </ul>
    </nav>
</header>
